@import "tailwindcss";

@theme {
  --color-app_blue: #335c67;
  --color-app_yellow: #fff3b0;
  --color-app_orange: #e09f3e;
  --color-app_red-light: #9e2a2b;
  --color-app_red-dark: #540b0e;
  --color-transperint-white: rgba(255, 255, 255, 0.6);
  --color-transperint-yellow: rgba(255, 243, 176, 0.9);
  --color-transperint-orange: rgb(224, 159, 62, 0.86);
}

* {
  box-sizing: border-box;
}

.side-shadow-right {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

.side-shadow-left {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

.modal-slide {
  transform: translate(0, 0);
  transition: transform 500ms ease-in-out;
}

.closed-modal {
  transform: translateY(100%);
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in-from-left 0.4s ease-out;
}

.roles-slider {
  display: flex;
  flex-direction: column;
  animation: slide-roles 15s infinite cubic-bezier(1, 0, 0, 1);
  position: relative;
  top: 0;
  left: 0;
}

.role {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@keyframes slide-roles {
  0% {
    transform: translateY(87px);
  }

  33.33% {
    transform: translateY(30px);
  }

  66.66% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(87px);
  }
}
