@import "tailwindcss";

@theme {
  --color-app_blue: #335c67;
  --color-app_yellow: #fff3b0;
  --color-app_orange: #e09f3e;
  --color-app_red-light: #9e2a2b;
  --color-app_red-dark: #540b0e;
  --color-transparent-white: rgba(255, 255, 255, 0.6);
  --color-transparent-yellow: rgba(255, 243, 176, 0.9);
  --color-transparent-orange: rgb(224, 159, 62, 0.86);
  --color-transparent-blue: rgba(51, 92, 103, 0.8);
  --color-transparent-light-red: rgba(158, 42, 43, 0.8);
  --color-transparent-red-dark: rgba(84, 11, 14, 0.8);
}

* {
  box-sizing: border-box;
}

input {
    font-size: 16px;
}

.side-shadow-right {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

.side-shadow-left {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

.modal-slide {
  transform: translate(0, 0);
  transition: transform 500ms ease-in-out;
}

.closed-modal {
  transform: translateY(100%);
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-100px);
    display: none;
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-from-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-1000px);
    display: none;
  }
}

.animate-slide-in {
  animation: slide-in-from-left 0.4s ease-out;
}

.animate-slide-out {
  animation: slide-out-from-left 0.4s ease-out;
}

.roles-slider {
  display: flex;
  flex-direction: column;
  animation: slide-roles 15s infinite cubic-bezier(1, 0, 0, 1);
  position: relative;
  top: 0;
  left: 0;
}

.role {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@keyframes slide-roles {
  0% {
    transform: translateY(87px);
  }

  33.33% {
    transform: translateY(30px);
  }

  66.66% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(87px);
  }
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}


@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 80%);
    }
}


.scroll {
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    0%{
        transform: translateX(150%);
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        transform: translateX(-150%);
        opacity: 0;
    }
}

